{% extends "base.html" %}
{% block title %}Home — MyShop{% endblock %}
{% block content %}

  <div class="hero">
    <p>hero</p>
  </div>

<div class="container my-4">
  <div class="row grid-box  mb-3">
    <div class="col text-center">Product1</div>
    <div class="col text-center">Product2</div>
    <div class="col text-center">Product3</div>
  </div>

  <div class="row grid-box mb-3">
    <div class="col text-center">Product1</div>
    <div class="col text-center">Product2</div>
    <div class="col text-center">Product3</div>
  </div>

  <div class="row grid-box">
    <div class="col text-center">Product1</div>
    <div class="col text-center">Product2</div>
    <div class="col text-center">Product3</div>
  </div>
</div>

<div class ="shop-btn text-center">
  <a href="/shop/" class="btn btn-outline-secondary" role="button" aria-disabled="true">Shop Now</a>
</div>

{% endblock %}